@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<!--This is the page that has page with the heading and the picture of Joel that I downloaded and put in my img folder-->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

    <img src="~/img/JoelHilton.jpg" />
</div>
